.home {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.home img {
    max-width: 100vw;
    max-height: 375px;
    margin: 10vh;
    border: 1px solid black;
}

.home p:nth-child(1) {
    position: relative;
    top: 60px;
    right: 300px;
}

.home p:nth-child(3) {
    position: relative;
    bottom: 100px;
    left: 35vw;
}

.home p:nth-child(4) {
    position: relative;
    bottom: 40px;
    right: 5vw;
}